h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}

h1 {
  font-family: "General Sans Variable Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 128px;
  line-height: 160px;
  @media screen and (max-width: 1201px) {
    font-size: 80px;
  line-height: 96px;
  }
  @media screen and (max-width: 768px) {
    font-size: 40px;
    line-height: 48px;
  }
}

h2 {
  font-family: "General Sans Variable";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 65px;
  @media screen and (max-width: 1201px) {
    font-size: 40px;
  line-height: 48px;
  }
  @media screen and (max-width: 768px) {
    font-size: 28px;
    line-height: 38px;
  }
}

h3 {
  font-family: "General Sans Variable";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  color: #0a2244;
  @media screen and (max-width: 768px) {
    font-size: 22px;
    line-height: 30px;
  }
}

h4 {
  font-family: "General Sans Variable";
  font-style: normal;
  font-size: 22px;
  line-height: 30px;
  color: #0a2244;
  font-weight: 500;
}

strong {
  font-weight: 600;
}

p {
  font-family: "General Sans Variable";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 28px;
}

li {
  font-family: "General Sans Variable";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 28px;
}
