.global_one_click {
    .container-fluid {
      width: 100%;
      padding: 0;
      margin: 0;
      background: #fff;
    }
    .container {
      max-width: 1440px;
      margin: 0 auto;
      padding: 48px 60px 70px 60px;
    }
    .intro {
      display: grid;
      gap: 12px;
      margin-bottom: 40px;
  
      .title {
        display: grid;
        gap: 24px;
        padding: 0;
  
        h2 {
          margin: 0;
          font-weight: 500;
          color: #0a2244;
        }
  
        p {
          color: #616d82;
          font-weight: 500;
        }
      }
  
      .subtitle {
        font-family: "General Sans Variable";
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
        display: flex;
        align-items: flex-end;
        text-transform: uppercase;
        color: #828fa5;
      }
    }
    .boxes {
      display: flex;
      gap: 60px;
      place-items: center;
  
      .left {
        width: 100%;
        .box {
          display: flex;
          border-bottom: 1px solid #e1e4ec;
          padding: 32px 0;
          gap: 36px;
          place-items: baseline;
          min-height: 25px;
          place-items: baseline;
          span {
            font-family: "General Sans Variable";
            font-style: normal;
            font-weight: 500;
            font-size: 17px;
            line-height: 28px;
            color: #616d82;
          }
          .points {
            width: 100%;
            h4 {
              font-family: "General Sans Variable";
              font-style: normal;
              font-weight: 500;
              font-size: 22px;
              line-height: 30px;
              color: #0a2244;
              margin: 0;
            }
            p {
              margin: 0;
            }
          }
        }
      }
      .right {
        width: 100%;
      }
    }
  }