.onboarding_page {
    background: #f3f2fa;
    background-image: url('./icons/background.png');
    background-size: cover;
  
    .container-fluid {
      width: 100%;
      padding: 0;
      margin: 0;
    }
    .container {
      max-width: 1440px;
      margin: 0 auto;
      padding: 153px 39px 41px 60px;
    }
  
    h1 {
      color: #0a2244;
      margin: 0;
    }
  
    p {
      color: #616d82;
    }
  
    .title {
      padding: 167px 0 30px;
    }
  
    .under_title {
      display: flex;
      gap: 156px;
      place-items: center;
      max-width: 1300px;
    }
    
    p {
      display: inline-block;
      vertical-align: top;
      margin: 0;
    }
  
    .btns {
      display: flex;
      gap: 8px;
  
      .talk {
        position: relative;
        text-align: center;
        border: 1px solid #0a2244;
        border-radius: 25px;
        color: #0a2244;
        width: 158px;
        height: fit-content;
        transition: 0.4s;
        padding: 13px 10px;
        &:hover{
          color: #fff;
          background: #0a2244;
          border: 0;
        }
  
        a {
          position: absolute;
          height: 100%;
          width: 100%;
          left: 0;
          top: 0;
          z-index: 1;
        }
  
        span {
          font-family: "General Sans Variable";
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 22px;
          margin: 0;
          padding: 0;
        }
      }
  
      .try {
        position: relative;
        text-align: center;
        width: 158px;
        height: fit-content;
        border-radius: 25px;
        background: #f76c34;
        color: #fff;
        transition: 0.4s;
        padding: 13px 10px;
        &:hover{
          color: #f76c34;
          background: #fff;
          border: 1px solid #f76c34;
        }
  
        a {
          position: absolute;
          height: 100%;
          width: 100%;
          left: 0;
          top: 0;
          z-index: 1;
        }
  
        span {
          font-family: "General Sans Variable";
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 22px;
          margin: 0;
          padding: 0;
        }
      }
    }
  }
  
