.partners_page_boxes_no_radius {
    .container-fluid {
      width: 100%;
      padding: 0;
      margin: 0;
      background: #fff;
    }
    .container {
      max-width: 1440px;
      margin: 0 auto;
      padding: 48px 60px 70px 60px;
    }
    .intro {
      display: grid;
      grid-template-columns: 10fr 17fr;
      place-items: self-start;
      padding: 40px 0 48px;
  
      .title {
        padding: 0px;
  
        h2 {
          margin: 0 0 16px;
          font-weight: 500;
          color: #0a2244;
        }
      }
  
      .subtitle {
        padding: 10px 0;
        font-family: "General Sans Variable";
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
        display: flex;
        align-items: flex-end;
        text-transform: uppercase;
        color: #828fa5;
      }
    }
    .boxes {
      display: flex;
      gap: 30px;
      text-align: center;
  
      .box {
        border: 0;
        border-radius: 12px;
        padding: 32px;
        text-align: center;
        max-width: 420px;
        width: 100%;
      }
    }
  }
  
